extend layout
block content
  .row
    .col.s12
      p To read the CLA and register your github account as a contributor, please continue by authenticating your github account.
  .row
    .col.s12
      a.btn(href='/auth/github') Log in to view and sign the agreement
