extend layout
block content
  .row
    .col.s12
      p.section This page allows you to agree to the Ethcore CLA. Please sign in to your github account to continue.
  .row
    .col.s12
      a.btn(href='/auth/github') Sign in with Github
